<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FrontEnd</title>
  </head>

  <body>
    <nav style="margin-bottom: 30px">
      <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/cadastro">Cadastrar</a></li>
        <li><a href="http://localhost:3000/frontend">Cadastrados(FRONT)</a></li>
        <li><a href="http://localhost:3000/b">Cadastrados(BACK)</a></li>
      </ul>
    </nav>

    <h1>FrontEnd Technologies</h1>
    <% for(i =0; i<dados.length; i++){ %>
      <p><%= dados[i].conteudo %></p>
    <% } %>
  </body>
</html>
